<ul >
  
    <!--li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p>{{ createdate }}</p>    
            
    </li-->

    <table class="table">
  <thead>
    <tr>      
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Event Date</th>
    </tr>
  </thead>
  {{#events}}
  <tbody>
    <tr>      
      <td>{{ title }}</td>   
      <td>{{ description }}</td>  
      <td >{{ createdate }}</td>  
    </tr>    
  </tbody>
  {{/events}}
</table>   
  
</ul>