<ul >
  {{#events}}
    <!--li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p>{{ createdate }}</p>    
            
    </li-->

    <div class="row">
    <div class="col">
      {{ title }}
    </div>
    <div class="col">
      {{ description }}
    </div>
    <div class="col">
      {{ createdate }}
    </div>
  </div>
  {{/events}}
</ul>